search --set=root --file /ubuntu
insmod all_video

set default="0"
set timeout=5
set gfxpayload=keep

set common_kernel_params="pcie_ports=native intel_iommu=on iommu=pt"

### ---------------------------------------------------------
### 1. Install Ubuntu Server (Autoinstall)
### ---------------------------------------------------------
menuentry "Install Ubuntu Server (Autoinstall)" {
    linux /casper/vmlinuz boot=casper quiet autoinstall ds=nocloud-net;s=/cdrom/autoinstall/ ${common_kernel_params} ---
    initrd /casper/initrd
}

### ---------------------------------------------------------
### 2. Try Ubuntu (Live Environment)
### ---------------------------------------------------------
menuentry "Try Ubuntu (Live)" {
    linux /casper/vmlinuz boot=casper quiet splash ${common_kernel_params} ---
    initrd /casper/initrd
}